:root {
  --color-accent: rgb(241, 113, 114);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #aff378;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2f3a;
  line-height: 1.2em;
}

.round-image {
  display: block;
  position: relative;
  max-width: 100%;
  margin: auto;
  height: auto;
  border-radius: 50%;
}

.container {
  display: grid;
  background-color: #fff;
  border-radius: 5px;
  width: 950px;
  margin: 50px auto;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "header header"
    "left-side right-side"
    "left-side footer";
}

header {
  grid-area: header;
}

picture {
  display: block;
  position: relative;
}

.header {
  display: flex;
  background-color: #222;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 80px 20px 20px 20px;
  text-transform: uppercase;
}

.header picture {
  width: 25%;
  margin-right: 10px;
  margin-bottom: -45px;
}

.header picture::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  transform: rotate(17deg);
  background: var(--color-accent);
  top: 55px;
  right: 5px;
}

.header img {
  border: 8px solid var(--color-accent);
  z-index: 1;
}

.header div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header h1 {
  font-size: 2.3em;
  margin-bottom: 25px;
  font-weight: 800;
}

.header h2 {
  font-size: 1.6em;
  font-weight: 600;
  width: 180px;
  text-align: center;
}

.header h2 em {
  font-style: normal;
  line-height: 1.3em;
}

.header span {
  color: var(--color-accent);
}

section {
  margin: 35px;
}

.left-side {
  grid-area: left-side;
  margin-right: 0;
}

.box {
  position: relative;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #eee7ee;
}

.box::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  border: solid 4px #2b2f3a;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.contact i {
  margin-right: 5px;
  font-size: 1.3em;
  color: var(--color-accent);
}

.contact div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.contact a {
  text-decoration: none;
  color: #000000;
}

.contact address {
  font-style: normal;
}

.phones {
  display: flex;
  flex-direction: column;
}

.phones div {
  margin: 2px;
}

.skills {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h3 {
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: 700;
}

.skills > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skills h4 {
  font-size: 0.9em;
  font-weight: 600;
  margin-right: 5px;
  width: 110px;
}

.progress {
  display: flex;
  align-items: center;
}

.progress div {
  width: 15px;
  height: 15px;
  margin: 2px;
  background-color: #ded7de;
  border-radius: 50%;
}

.right-side {
  grid-area: right-side;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

footer picture {
  width: 12%;
  margin-right: 20px;
}

footer em {
  display: block;
  position: relative;
  padding: 6px 15px;
  border-radius: 6px;
  background-color: #222;
  font-style: normal;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

footer em::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 15px solid #222;
  left: -15px;
  top: 8px;
}

.experience-container {
  margin: 0;
}

.experience-container:first-child {
  margin-bottom: 35px;
}

.experience-container h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}

.experience {
  margin-top: 10px;
  color: rgb(92, 87, 91);
}

.experience:nth-child(3) {
  margin-top: 20px;
}

.experience h4 {
  font-size: 1em;
  font-weight: bold;
}

.experience h5,
h6 {
  font-size: 0.9em;
  font-weight: bold;
}

.experience p {
  margin-top: 8px;
  font-size: 0.9em;
}

@media (max-width: 1000px) {
  .container {
    width: 800px;
  }

  .header h1 {
    font-size: 2em;
  }

  .header h2 {
    font-size: 1.3em;
    width: 150px;
  }

  .header picture::after {
    top: 45px;
    right: 5px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 700px;
  }

  .header h1 {
    font-size: 1.7em;
  }

  .header h2 {
    font-size: 1.1em;
    width: 120px;
  }

  .header picture::after {
    top: 35px;
    right: 5px;
  }

  .header img {
    border: 8px solid var(--color-accent);
  }

  section {
    margin: 20px;
    margin-top: 35px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 500px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "left-side"
      "right-side"
      "footer";
  }

  .header h1 {
    font-size: 1.2em;
  }

  .header h2 {
    font-size: 0.9em;
    width: 100px;
  }

  .header picture::after {
    top: 20px;
    right: 5px;
  }

  .left-side {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 520px) {
  .container {
    width: 450px;
  }

  .header {
    padding-bottom: 13px;
  }

  .header h1 {
    font-size: 1.1em;
  }

  .header h2 {
    font-size: 0.9em;
    width: 100px;
  }

  .header img {
    border: 3px solid var(--color-accent);
  }

  footer picture {
    min-width: 50px;
  }
}

@media (max-width: 460px) {
  .container {
    font-size: 0.9em;
    width: 100%;
    margin: 0;
  }

  .header {
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
  }

  .header div {
    margin-top: 50px;
    align-items: center;
  }

  .header h1 {
    width: 100%;
    margin-bottom: 15px;
  }

  .header picture::after {
    display: none;
  }

  .header img {
    min-width: 90px;
  }
}

@media (max-width: 320px) {
  .container {
    font-size: 0.9em;
  }

  .header {
    padding: 50px 10px 10px 10px;
  }

  .header h1 {
    font-size: 0.9em;
  }

  .header h2 {
    font-size: 0.8em;
    width: 80px;
  }

  section {
    margin: 15px;
  }

  .left-side {
    margin-right: 15px;
  }

  .experience-container:first-child {
    margin-bottom: 15px;
  }

}

@media (max-width: 280px) {
  .box {
    padding: 10px;
    padding-left: 15px;
  }

  section {
    margin: 5px;
  }

  .left-side {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .experience-container:first-child {
    margin-bottom: 15px;
  }

  .skills h4 {
    width: 85px;
    font-size: 0.8em;
  }

  footer {
    margin-bottom: 10px;
    padding: 5px;
  }
}